
// ## Layout


$Mobile: 375px;
$Desktop: 1440px;

// ## Colors

// ### Primary

$Cyan: hsl(179, 62%, 43%);
$Bright_Yellow: hsl(71, 73%, 54%);

// ### Neutral

$Light_Gray: hsl(204, 43%, 93%);
$Grayish_Blue: hsl(218, 22%, 67%);

$blue_green:#2bb3b1;
$cyan_green:#4abebd;

// ## Typography

// ### Body Copy
$txt: 16px;

// ### Font

$regular: 400;
$bold: 700;