@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  font-family: 'Karla', sans-serif;
  background: #e5eff5;
  height: 130%;
}

.parent_grid {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 19.438rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
  border-radius: 7px;
  overflow: hidden;
}

.child_grid:nth-child(1) {
  padding: 2rem 1.6rem 2.25rem 1.5rem;
  background: white;
}

.child_grid:nth-child(1) h1 {
  font-size: 1.3rem;
  letter-spacing: -0.03rem;
  color: #2ab2af;
  padding-bottom: 1.75rem;
}

.child_grid:nth-child(1) h2 {
  font-size: 0.91rem;
  font-weight: 700;
  color: #c0df34;
  padding-bottom: 1.75rem;
}

.child_grid:nth-child(1) p {
  font-size: 0.8rem;
  color: #98a6bd;
  line-height: 1.5rem;
}

.child_grid:nth-child(2) {
  padding: 1.75rem 1.5rem;
  background: #2bb3b1;
}

.child_grid:nth-child(2) h2 {
  font-size: 1.1rem;
  font-weight: 700;
  color: white;
  padding-bottom: 1.375rem;
}

.child_grid:nth-child(2) .flexed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.child_grid:nth-child(2) .flexed .price {
  font-size: 1.75rem;
  font-weight: 700;
  color: white;
}

.child_grid:nth-child(2) .flexed p:not(:first-of-type) {
  padding-left: 0.813rem;
  color: #e5eff5;
  opacity: 0.6;
}

.child_grid:nth-child(2) .full {
  padding-top: 1rem;
  padding-bottom: 2rem;
  color: #e5eff5;
  opacity: 0.8;
}

.child_grid:nth-child(2) a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.child_grid:nth-child(2) a .btn {
  padding: 0.9rem 2rem;
  text-align: center;
  background: #c0df34;
  border-radius: 7px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.1) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.1) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.child_grid:nth-child(3) {
  background: #4abebd;
  padding: 1.75rem 1.5rem;
}

.child_grid:nth-child(3) h2 {
  font-size: 1.1rem;
  font-weight: 700;
  color: white;
  padding-bottom: 1.375rem;
}

.child_grid:nth-child(3) p {
  font-size: 0.8rem;
  color: #e5eff5;
  line-height: 1.2rem;
  opacity: 0.8;
}

@media (min-width: 768px) {
  body {
    height: 100vh;
  }
  .parent_grid {
    display: -ms-grid;
    display: grid;
    border-radius: 12px;
    width: 39.688rem;
    height: 29.688rem;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'up up' 'don din';
  }
  .child_grid:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: up;
    padding: 2.813rem 2.5erm;
  }
  .child_grid:nth-child(1) h2 {
    padding-bottom: 1.125rem;
    font-size: 1.1rem;
  }
  .child_grid:nth-child(1) p {
    font-size: 1rem;
    padding-right: 0.5rem;
    opacity: 0.8;
  }
  .full {
    font-size: 0.9rem;
  }
  .child_grid:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: don;
  }
  .child_grid:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: din;
  }
  .child_grid:nth-child(3) h2 {
    padding-bottom: 1.375rem;
  }
  .child_grid:nth-child(2), .child_grid:nth-child(3) {
    padding: 2.625rem 2.625rem;
  }
}
/*# sourceMappingURL=Style.css.map */